# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Env
.env
.env.local
.env.*.local

# Logs / IDE
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json

# Next.js leftovers (if any)
.next
out
